#project-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-thumbnail-box{
  width: 80%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px 0px 25px 0px;
  border: 2px solid black;
  border-radius: 2px;
  align-items: center;
  margin-bottom: 25px;
  color: black;
  text-align: center;
}

.project-box{
  height: 50%;
  width: 50%;
}

.project-thumbnail-img{
  max-width: 90%;
  max-height: 90%;
}

.project-thumbnail-desc{
  margin-top: 10px;
}

.project-header{
  margin-bottom: 10px;
  font-size: 25px;
}