$white: rgb(255,255,255);
$special-shirt: rgb(203,232,107);
$write-it: rgb(242,233,225);
$karma: rgb(28,20,13);

.skill-pic{
  max-width: 100px;
  max-height: 100px;
}

.skill-box{
  margin-right: 10%;
  margin-top: 2.5%;
  max-width: 25%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.skill-box-container{
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  width: 100%;
}

#skills-content{
  h3{
    font-size: 30px;
  }
}