.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

a{
  text-decoration: none;
  color: black;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.header{
  height: 100px;
  width: 100%;
  background-color: blue;
}

#main-header{
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: yellow;
}

#about-page{
  display: flex;
}

#about-container{
  width: 100%;
}

#skills-container{
  width: 100%;
}

#skills{
  display: flex;
}

#contact-page{
  display: flex;
}

#contact-container{
  width: 100%;
}

#projects-page{
  display: flex;
}

#projects-container{
  width: 100%;
}