.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

a{
  text-decoration: none;
  // color: white;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.header{
  height: 100px;
  width: 100%;
  background-color: blue;
}

#main-header{
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: yellow;
}

#about-page{
  display: flex;
}

#about-container{
  width: 100%;
}

#skills-container{
  width: 100%;
}

#skills{
  display: flex;
}

#contact-page{
  display: flex;
}

#contact-container{
  width: 100%;
}

#projects-page{
  display: flex;
}

#projects-container{
  width: 100%;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  position: inherit !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

body{
  div{
    overflow-y: hidden !important;
  }
}

.menu-item{
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

.content-link{
  color: black !important;
}